.Login {
    max-width: 300px;
    margin: 100px auto;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: "DM Sans", sans-serif;
}

.Login p {
    font-size: 14px;
    text-align: left;
    font-family: "DM Sans", sans-serif;
    width: 90%;
    margin-left: 20px;
    margin-bottom: 20px;
}

.Name {
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
}

h2 {
    font-size: 32px;
    margin-bottom: 30px;
    text-align: center;
}

.form-group {
    font-size: 14px;
    margin-bottom: 10px;
}

.club-email {
    text-align: left;
    margin-left: 20px;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    text-align: left;
    width: 80%;
    margin-left: 20px;
    padding: 8px;
    border: 1px solid #ccc;
}

.form-group button {
    text-align: center;
    margin-left: 90px;
    width: 40%;
    padding: 15px;
    background-color: #0d99ff;
    border: 1px solid #ccc;
    border-radius: 12px;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #0d99ff;
}